<form name="org" #orgForm="ngForm">
  <div>
    <div class="level">
      <div class="level-left">
        <h2 class="title level-item is-size-2">
          <span *ngIf="isNew">New organization</span>
          <span *ngIf="!isNew">Organization "{{ org.name }}"</span>
        </h2>
      </div>
      <div class="level-right">
        <div class="buttons">
          <button
            (click)="saveOrg()"
            class="button is-primary is-medium level-item"
            [disabled]="!orgForm.valid"
          >
            Save
          </button>
          <button
            (click)="deleteOrg()"
            class="button is-danger is-medium level-item"
            [disabled]="!org.id"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Name *</label>
          <div class="control">
            <input
              class="input {{
                name.invalid && (name.dirty || name.touched) ? 'is-danger' : ''
              }}"
              required
              type="text"
              placeholder="Orion Inc."
              [(ngModel)]="org.name"
              name="name"
              #name="ngModel"
            />
          </div>
          <p
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="help is-danger"
          >
            <span *ngIf="name.errors?.['required']">Name is required.</span>
          </p>
        </div>
        <h3 class="title is-size-3 mt-5">Persons</h3>
        <div class="table-container">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Updated at</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of org.persons">
                <td>
                  <a [routerLink]="['/persons', person.id]"
                    >{{ person.firstName }} {{ person.lastName }}</a
                  >
                </td>
                <td>
                  {{ person.email }}
                </td>
                <td>
                  {{ person.updatedAt | date }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
