# Explicitly HTTP only - Caddy auto-redirects to HTTPS by default, which breaks when behind nginx
http://:80 {
	log {
		output file /var/log/caddy/access.log {
			mode 0644
		}
	}
	root * /app/front
	encode gzip
	try_files {path} /index.html
	file_server
}
