<form name="person" #personForm="ngForm">
  <div>
    <div class="level">
      <div class="level-left">
        <h2 class="title level-item is-size-2">
          <span *ngIf="isNew">New person</span>
          <span *ngIf="!isNew"
            >Person "{{ person.firstName }} {{ person.lastName }}"</span
          >
        </h2>
      </div>
      <div class="level-right">
        <div class="buttons">
          <button
            (click)="savePerson()"
            class="button is-primary is-medium level-item"
            [disabled]="!personForm.valid"
          >
            Save
          </button>
          <button
            (click)="deletePerson()"
            class="button is-danger is-medium level-item"
            [disabled]="!person.id"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">First name *</label>
          <div class="control">
            <input
              class="input {{
                firstName.invalid && (firstName.dirty || firstName.touched)
                  ? 'is-danger'
                  : ''
              }}"
              required
              type="text"
              placeholder="John"
              [(ngModel)]="person.firstName"
              name="firstName"
              #firstName="ngModel"
            />
          </div>
          <p
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="help is-danger"
          >
            <span *ngIf="firstName.errors?.['required']"
              >First name is required.</span
            >
          </p>
        </div>
        <div class="field">
          <label class="label">Last name *</label>
          <div class="control">
            <input
              class="input {{
                lastName.invalid && (lastName.dirty || lastName.touched)
                  ? 'is-danger'
                  : ''
              }}"
              required
              type="text"
              placeholder="Doe"
              [(ngModel)]="person.lastName"
              name="lastName"
              #lastName="ngModel"
            />
          </div>
          <p
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="help is-danger"
          >
            <span *ngIf="lastName.errors?.['required']"
              >Last name is required.</span
            >
          </p>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input {{
                email.invalid && (email.dirty || email.touched)
                  ? 'is-danger'
                  : ''
              }}"
              type="email"
              placeholder="jdoe@gmail.com"
              [(ngModel)]="person.email"
              name="email"
              #email="ngModel"
            />
          </div>
          <p
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="help is-danger"
          >
            <span *ngIf="email.errors?.['email']"
              >Email must be a valid email address.</span
            >
          </p>
        </div>
        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input
              class="input {{
                phone.invalid && (phone.dirty || phone.touched)
                  ? 'is-danger'
                  : ''
              }}"
              [(ngModel)]="person.phone"
              name="phone"
              #phone="ngModel"
              type="tel"
              placeholder="+1 (988) 112-8197"
            />
          </div>
          <p
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
            class="help is-danger"
          >
            <span *ngIf="phone.errors?.['tel']"
              >Phone must be a valid phone number.</span
            >
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Bio</label>
          <div class="control">
            <textarea
              class="textarea {{
                bio.invalid && (bio.dirty || bio.touched) ? 'is-danger' : ''
              }}"
              [(ngModel)]="person.bio"
              name="bio"
              #bio="ngModel"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <h3 class="title is-size-3">Organizations</h3>
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="select is-large is-fullwidth">
              <select
                [(ngModel)]="selectedOrganization"
                [ngModelOptions]="{ standalone: true }"
              >
                <option [ngValue]="null">Add organization</option>
                <option [ngValue]="org" *ngFor="let org of organizations">
                  {{ org.name }}
                </option>
              </select>
            </div>
          </div>
          <p class="control">
            <button class="button is-primary is-large">
              <span
                class="has-text-weight-bold"
                (click)="addSelectedOrganization()"
                >+</span
              >
            </button>
          </p>
        </div>
        <table class="table is-fullwidth">
          <tbody>
            <tr *ngFor="let org of organizations">
              <td>
                <a
                  class="is-size-4"
                  [routerLink]="['/organizations', org.id]"
                  >{{ org.name }}</a
                >
              </td>
              <td>
                <button
                  class="button is-danger ml-5 is-pulled-right"
                  (click)="removeOrganization(org)"
                >
                  <span class="has-text-weight-bold">X</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
